<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    
</head>
<body>
    <header>
        <h1>Store Statistics</h1>
        <nav>
            <a href="/">Catalogue</a> | 
            <a href="/cart_page">Cart</a> |
            <a href="/login_page">Account</a>
        </nav>
    </header>

    <main>
        <div id="statisticsMessage"></div>
        <section id="statisticsContent"></section>
    </main>

    <script src="{{ url_for('static', filename='authentication.js') }}"></script>
    <script src="{{ url_for('static', filename='statistics.js') }}"></script>
</body>
</html>


